.emailcheck-card-close-btn {
}

.emailcheck-card-title {
  font-size: 21px;
  text-decoration: underline;
  text-underline-position: under;
}

.emailcheck-card-left-info {
  margin-top: 2em;
  font-size: 14px;
}
.emailcheck-card-right-info {
}

.emailcheck-card-right-info-top {
}
.emailcheck-card-right-info-bottom {
}

.emailcheck-card-email {
}

.emailcheck-card-btn {
}
