.problem-right-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.makeprob {
  padding: 0.8em 2em;
  background-color: #a2b29f;
  border-radius: 10px;
  margin-top: 2em;

  &:hover {
    cursor: pointer;
  }
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ prob.vue ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.makeProb-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;

  .makeProb-title {
    margin: 1em 0;
    font-size: 2em;
  }

  .makeProb-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .makeProb-form > div {
    margin: 0.5em 0;
  }

  .label {
    margin: 2em;
  }

  .answer-wrap {
    display: flex;

    .addBtn {
      margin-left: 1em;
      height: 2em;
    }

    .label {
      margin: 0 2em;
    }

    .answer {
      text-align: left;
      margin: 0.3em 0;
    }

    .ans-wrap {
      display: flex;
      justify-content: space-between;
    }
  }
  .makeBtn {
    margin: 1.5em 0;
  }
}
