.updatepw-card-close-btn {
}

.updatepw-card-title {
  font-size: 21px;
  text-decoration: underline;
  text-underline-position: under;
}

.updatepw-card-left-info {
  margin-top: 2em;
  font-size: 14px;
}
.updatepw-card-right-info {
}

.updatepw-card-email {
}

.updatepw-card-btn {
}
